<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <link rel="stylesheet" href="public/css/bootstrap.min.css">
</head>

<body>
  <div class="container">
    <div class="row">
      <div class="col col-8">
      </div>
      <div class="col col-4">
        <div class="login m-2">
          <form action="/" method="post">
            <div class="form">
              <div class="form-group">
                <label for="loginId">Login Id</label>
                <div><label> <input type="email" id="loginId" name="loginId" required></label></div>
              </div>
              <div class="form-group">
                <label for="password">Password</label>
                <div><label> <input type="password" id="password" name="password" required></label></div>
              </div>
            </div>
            <div class="form-group mt-3">
              <button type="submit">Submit</button>
              <button type="reset">Reset</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <script src="public/scripts/script.js"></script>
  </body>
</html>